{{define "details"}}
<div id="cardModal" class="modal" style="display: none;">
    <div class="modal-content">
        <p id="modalDate" class="modal-date"></p>
        <span class="close-button" onclick="closeModal()">&times;</span>
        <span class="edit-icon" onclick="editModal()">&#9998;</span>
        <h2 id="modalTitle" class="modal-title"></h2>
        <p id="modalDescription" class="modal-description"></p>
    </div>
</div>
<link rel="stylesheet" href="/static/css/details.css">
<script src="static/js/details.js"></script>
{{end}}