{{define "details"}}
<link rel="stylesheet" href="/static/css/modal.css">
<div id="detailsModal" class="modal" style="display: none;">
    <div class="modal-content">
        <p id="modalDate" class="modal-date"></p>
        <span class="close-button" onclick="closeDetailsModal()">&times;</span>
        <span class="edit-icon" onclick="editModal()">&#9998;</span>
        <h2 id="detailsModalTitle" class="modal-title"></h2>
        <input type="hidden" id="taskID" value="12345">
        <input id="detailsModalTitleInput" class="modal-title-input" style="display: none;" />

        <p id="detailsModalDescription" class="modal-description"></p>
        <textarea id="detailsModalDescriptionInput" class="modal-description-input" style="display: none;"></textarea>

        <button id="saveTask" class="save-button" style="display: none;" onclick="saveTask()">Save</button>
    </div>
</div>
<script src="/static/js/details.js"></script>
{{end}}