{{define "content"}}
<div class="board-layout">
    {{template "details"}}
    <div id='boardlists' class="board-lists">
        <div id='backlog' class="board-list" ondrop="dropIt(event)" ondragover="allowDrop(event)">
            <div class="list-title">
                BACKLOG
            </div>

            {{range .Backlog}}
            {{template "card" .}}
            {{end}}
        </div>
        <div id='in_progress' class="board-list" ondrop="dropIt(event)" ondragover="allowDrop(event)">
            <div class="list-title">
                IN PROGRESS
            </div>

            {{range .InProgress}}
            {{template "card" .}}
            {{end}}
        </div>
        <div id='done' class="board-list" ondrop="dropIt(event)" ondragover="allowDrop(event)">
            <div class="list-title">
                DONE
            </div>
            {{range .Done}}
            {{template "card" .}}
            {{end}}
        </div>
    </div>
</div>
{{end}}