{{define "content"}}
<div class="board-layout">
    {{template "create"}}
    {{template "details"}}
    <div id='boardlists' class="board-lists">
        <div id='backlog' class="board-list" ondrop="dropIt(event)" ondragover="allowDrop(event)">
            <div class="list-title-container" ondragover="event.stopPropagation();" ondrop="event.stopPropagation();">
                <div class="list-title">
                    BACKLOG
                </div>
                <button class="add-task-btn" onclick="addTask('backlog')">
                    <span class="icon">+</span> Add Task
                </button>
            </div>
            {{range .Backlog}}
            {{template "card" .}}
            {{end}}
        </div>

        <div id='in_progress' class="board-list" ondrop="dropIt(event)" ondragover="allowDrop(event)">
            <div class="list-title-container" ondragover="event.stopPropagation();" ondrop="event.stopPropagation();">
                <div class="list-title">
                    IN PROGRESS
                </div>
                <button class="add-task-btn" onclick="addTask('in_progress')">
                    <span class="icon">+</span> Add Task
                </button>
            </div>
            {{range .InProgress}}
            {{template "card" .}}
            {{end}}
        </div>

        <div id='done' class="board-list" ondrop="dropIt(event)" ondragover="allowDrop(event)">
            <div class="list-title-container" ondragover="event.stopPropagation();" ondrop="event.stopPropagation();">
                <div class="list-title">
                    DONE
                </div>
                <button class="add-task-btn" onclick="addTask('done')">
                    <span class="icon">+</span> Add Task
                </button>
            </div>
            {{range .Done}}
            {{template "card" .}}
            {{end}}
        </div>
    </div>
</div>
{{end}}